.header {
    background: url(./Images/cloud-5946381_1920.jpg) no-repeat center center;
    background-size: cover;
    font-family: 'Simonetta', cursive;
    font-size: 70px;
    padding-bottom: 100px;
  }
  body {
    
    margin: 0;
    /* background-color: #000; */
  
  }
  .navbar {
    width: 100%;
    z-index: 100;
  }
  .navbar .container-1 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .navbar .container-1 .nav-links .menu {
    display: flex
  }
  ul{
    margin-top: 5%;
    padding: 20px;
  }
  li {
    list-style: none;
    padding: 20px;
    font-size: 15px;
  }
  .logo{
    margin-top: 10px;
    margin-left: 70px;
  }
  .logo a {
    text-decoration: none;
    font-size: 50px;
    color: #000;
    color: #fff;
  }
  .menu a {
    text-decoration: none;
    color: #fff;
    transition: 0.4s ease;
  }
  .menu a:hover {
    transition: 0.4s ease;
    color: darkgrey;
  }
  .intro {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 2%;
    margin-top: -2%;
    
  }
  .intro h1 {
    padding: 30px;
    line-height: 100px;
  }
  /* Skills Section */
  .sec1{
      background-color: #df7d7f;
      color: #fff;
      font-family: 'Simonetta', cursive;
  }
  .title{
      text-align: center;
  }
  section{
    /* width: 100%; */
    height: auto;
    padding: 100px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.skill-cards{
    /* width: 100%; */
    height: auto;
    background-color: #df7d7f;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card{
    width: 245.6px;
    height: 320px;
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
}
.image{
    width: 100%;
    height: 270px;
    margin-bottom: 10px;
    background-size: cover;
}
.card-title{
    text-align: center;
}
.cover{
    background-color: #df7d7f;
      color: #fff;
      font-family: 'Simonetta', cursive;
}
.card {
    margin-top: 28px;
    width: 300px;
    padding-left: 5px;
}

.wrapper {
    display: grid;
    grid-row-gap: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
}

.wrapper .card img {
    width: 100%;
    height: 150px;
}
#contact{
    background-color: #999eb9;
    color: #fff;
    font-family: 'Simonetta', cursive;
}
.c-container{
    color: #fff;
    background-color: #999eb9;
    font-family: 'Simonetta', cursive;
    display: flex;
    height: auto;
    justify-content: center;
}
.contact-card{
    font-family: 'Simonetta', cursive;
    width: 290px;
    height: 330px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0px 1px 18px #888888;
}
#c-btn{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color:  #00b33c;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 15px;
    padding-bottom: 3px;
}
#c-btn:hover{
    background-color: white;
    color: #00b33c;
    border: 1px solid  #00b33c;
}
footer{
    width: 100%;
    height: 100px;
    color: white;
    background-color: #999eb9;
    color: #fff;
    font-family: 'Simonetta', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    header{
        justify-content: space-between;
    }
    .skill-cards{
        align-items: center;
        flex-direction: column;
    }
    .image-box1{
        width: 100%;
        height: 250px;
        background-size: 100% 100%;
    }
    .image-box2{
        width: 100%;
        height: 250px;
        background-size: 100% 100%;
    }
    .image-box3{
        width: 100%;
        height: 250px;
        background-size: 100% 100%;
    }
}
@media screen and (max-width: 800px) {
    .hero-text h1{
        font-size: 5vmin;
    }
    .p-image{
        width: 100%;
    }
    .description{
        width: 100%;
    }
    .image-box{
        width: 100%;
        height: 250px;
        background-size: 100% 100%;
    }
    .c-container{
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
}